*{
    font-weight: 400;
    font-size: 32px;
    line-height:150%;
  
}

main{
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
    
}
body{
    background-color: #E5E5E5;
    background-image: url(./img/hacker.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.input-text{
    margin-top: 90px;
    border-radius: 10px;
}
.message{
    position: relative;
    margin-top: 20px;
    margin-left: 90px;
    background-image: url(./img/Doll.png);
    background-repeat: no-repeat;
    background-position: 18px;
    background-size: 300px;
    border-radius: 12px;
    background-color: dimgray;
    border-color: black;
}
.copy{
position: relative;
margin-top: 20px;
margin-left: 205px;
border-radius: 10px;
}
.copy:hover{
    background-color: yellowgreen;
}
.encrypt{
    border-radius: 10px;
    background-color: darkblue;
    color: white;
}
.encrypt:hover{
    background-color: darkorange;
}
.decrypt{
    border-radius: 10px;
    font-size: 30px;
}
.decrypt:hover{
    background-color: darkred;
    color: yellow;
}
footer h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}
@media screen and (min-width:768px) and (max-width:1023px) {
    main, footer, header{
        flex-direction: column;
    }
 
    main{
        align-items: center;
    }

    header, main, footer{
        width: auto;
    }

    .buttons{
        text-align: center;
    }
    .message, .input-text{
        width: 90%;
        height: auto;
        margin: auto;
    }

    .message{
        margin-top: 20px;
    }

}